In [1]:
pwd

'C:\\Users\\Saurav\\Downloads'

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel (r'C:\\Users\\Saurav\\Downloads\ideasofindia.xlsx')

In [4]:
df.head()

,ID,Last_Name,Article_Title,Journal,Month,Year
0,0,NaN,Ourselves,AligarhMonthly,January,1903.0
1,1,Oxford Idler,Oxford Idling,AligarhMonthly,January,1903.0
2,2,NaN,The Mahommedan Educational Conference,AligarhMonthly,February,1903.0
3,3,NaN,General Notes,AligarhMonthly,February,1903.0
4,4,NaN,Correspondence,AligarhMonthly,February,1903.0

In [5]:
df

,ID,Last_Name,Article_Title,Journal,Month,Year
0,0,NaN,Ourselves,AligarhMonthly,January,1903.0
1,1,Oxford Idler,Oxford Idling,AligarhMonthly,January,1903.0
2,2,NaN,The Mahommedan Educational Conference,AligarhMonthly,February,1903.0
3,3,NaN,General Notes,AligarhMonthly,February,1903.0
4,4,NaN,Correspondence,AligarhMonthly,February,1903.0
...,...,...,...,...,...,...
305852,305852,Syed,[Reviews and Notices of Books] Islam and Zoroa...,CurrentThought(Madras),May,1925.0
305853,305853,Parpia,The Youth of India,VoiceofIndia(Washington),November,1945.0
305854,305854,Khan,An Urdu Poem,MuhammadanAnglo-OrientalCollegeMagazine,April,1893.0
305855,305855,Bahadur,Convocation Address,OsmaniaMagazine,June,1936.0
305856,305856,Avalov,Peace Making in Transcaucasia,AsiaticReview,January-October,1928.0

In [6]:
import pandas as pandas
myfile=open('article_titles_ioi.txt',encoding="utf8") #getting text extracted from Dissolution_code_1 notebook
text=myfile.read()

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
import re

my=re.findall(r"[^\d]+",text)
x=' '.join(my)

In [8]:
mi=re.findall(r"[^!%?/\.+-,$]+",x)  #removing special characters
y=' '.join(mi)

In [9]:

my=re.findall(r"[^\n]+",y)
z=' '.join(my)
len(z)

10110982

In [14]:
from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer() 


for word in z:
    word=lemmatizer.lemmatize(word)

In [15]:
import pandas as pd
data = {'col':[z[:500]]}      
  
# Create DataFrame 
df = pd.DataFrame(data) 
  
# Print the output.
df['col'][1]=z[500:1000]
df['col'][2]=z[1000:1500]
df['col'][3]=z[1500:]

In [16]:
tfidf=TfidfVectorizer(max_df=0.9,min_df=2,stop_words='english')

In [17]:
dtm=tfidf.fit_transform(df['col'])

#dtm=cv.fit_transform(df['Article_Title'].values.astype('U'))

In [18]:
dtm

<4x72 sparse matrix of type '<class 'numpy.float64'>'
	with 155 stored elements in Compressed Sparse Row format>

In [19]:
from sklearn.decomposition import NMF

In [27]:
model=NMF(n_components=20,random_state=42)

In [28]:
model.fit(dtm)

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
    n_components=20, random_state=42, shuffle=False, solver='cd', tol=0.0001,
    verbose=0)

In [29]:
len(tfidf.get_feature_names())

72

In [30]:
for index, topic in enumerate(model.components_):
    print(f"The top 30 words for topic {index}")
    print([tfidf.get_feature_names()[i] for i in topic.argsort()[-30:]])

The top 30 words for topic 0
['arabic', 'health', 'idling', 'anglo', 'allahabad', 'aligarh', 'ii', 'india', 'asiatic', 'conference', 'condition', 'notices', 'bahadur', 'list', 'south', 'vines', 'haji', 'browne', 'football', 'cricketers', 'nainital', 'mahmood', 'union', 'shop', 'duty', 'cricket', 'competition', 'prize', 'mahommedan', 'correspondence']
The top 30 words for topic 1
['position', 'plea', 'taxation', 'oriental', 'condition', 'asiatic', 'girls', 'lecture', 'anglo', 'educational', 'ali', 'list', 'bahadur', 'royal', 'letters', 'health', 'general', 'conference', 'correspondence', 'late', 'ii', 'school', 'society', 'south', 'letter', 'mr', 'education', 'notices', 'women', 'india']
The top 30 words for topic 2
['india', 'asiatic', 'letters', 'condition', 'notices', 'games', 'mohammadan', 'list', 'society', 'women', 'ii', 'south', 'plea', 'bahadur', 'subscription', 'school', 'arabic', 'learning', 'surplus', 'lecture', 'maulvi', 'te', 'trip', 'shiraz', 'ali', 'royal', 'health', 'essentials', 'letter', 'parents']
The top 30 words for topic 3
['review', 'association', 'university', 'oxford', 'position', 'taxation', 'oriental', 'anglo', 'educational', 'general', 'conference', 'cricketers', 'mahmood', 'nainital', 'browne', 'prize', 'haji', 'football', 'mahommedan', 'shop', 'la', 'cricket', 'syed', 'competition', 'girls', 'correspondence', 'late', 'union', 'mr', 'education']
The top 30 words for topic 4
['games', 'south', 'india', 'notices', 'union', 'learning', 'surplus', 'letter', 'mohammadan', 'health', 'ali', 'women', 'essentials', 'trip', 'society', 'school', 'bahadur', 'lecture', 'letters', 'shiraz', 'condition', 'viceroy', 'royal', 'te', 'subscription', 'asiatic', 'arabic', 'maulvi', 'list', 'plea']
The top 30 words for topic 5
['association', 'anglo', 'health', 'idling', 'allahabad', 'aligarh', 'ii', 'india', 'arabic', 'prize', 'competition', 'mahommedan', 'shop', 'duty', 'cricket', 'correspondence', 'nainital', 'vines', 'cricketers', 'mahmood', 'football', 'la', 'browne', 'syed', 'girls', 'late', 'haji', 'union', 'mr', 'education']
The top 30 words for topic 6
['surplus', 'girls', 'essentials', 'taxation', 'condition', 'learning', 'games', 'arabic', 'list', 'lecture', 'correspondence', 'trip', 'position', 'oriental', 'anglo', 'late', 'plea', 'educational', 'general', 'society', 'mr', 'education', 'association', 'viceroy', 'political', 'university', 'review', 'notices', 'conference', 'india']
The top 30 words for topic 7
['games', 'bahadur', 'arabic', 'india', 'ii', 'health', 'idling', 'aligarh', 'anglo', 'allahabad', 'late', 'competition', 'correspondence', 'prize', 'mr', 'cricket', 'girls', 'haji', 'duty', 'shop', 'mahommedan', 'syed', 'la', 'browne', 'football', 'cricketers', 'vines', 'mahmood', 'nainital', 'union']
The top 30 words for topic 8
['health', 'football', 'duty', 'shop', 'mahommedan', 'competition', 'prize', 'ii', 'letters', 'allahabad', 'university', 'sports', 'conference', 'parents', 'political', 'association', 'aligarh', 'self', 'review', 'general', 'educational', 'idling', 'anglo', 'tournament', 'team', 'oriental', 'taxation', 'athletic', 'position', 'oxford']
The top 30 words for topic 9
['lecture', 'ii', 'review', 'late', 'self', 'oxford', 'games', 'union', 'asiatic', 'india', 'anglo', 'letter', 'oriental', 'mahmood', 'general', 'prize', 'learning', 'sports', 'idling', 'shop', 'essentials', 'society', 'syed', 'la', 'subscription', 'allahabad', 'girls', 'surplus', 'association', 'football']
The top 30 words for topic 10
['ali', 'surplus', 'royal', 'bahadur', 'south', 'arabic', 'shiraz', 'school', 'maulvi', 'women', 'letters', 'condition', 'te', 'asiatic', 'trip', 'lecture', 'parents', 'ii', 'society', 'letter', 'subscription', 'learning', 'health', 'essentials', 'plea', 'games', 'notices', 'viceroy', 'mohammadan', 'list']
The top 30 words for topic 11
['cricketers', 'bahadur', 'association', 'asiatic', 'arabic', 'anglo', 'allahabad', 'aligarh', 'athletic', 'letters', 'duty', 'educational', 'lecture', 'learning', 'late', 'la', 'india', 'education', 'idling', 'ii', 'haji', 'girls', 'general', 'games', 'football', 'essentials', 'health', 'women', 'maulvi', 'union']
The top 30 words for topic 12
['maulvi', 'royal', 'letter', 'te', 'plea', 'shiraz', 'school', 'trip', 'ali', 'arabic', 'ii', 'learning', 'subscription', 'women', 'list', 'union', 'south', 'essentials', 'society', 'health', 'surplus', 'notices', 'mohammadan', 'letters', 'bahadur', 'condition', 'games', 'asiatic', 'parents', 'viceroy']
The top 30 words for topic 13
['general', 'health', 'idling', 'allahabad', 'aligarh', 'ii', 'india', 'anglo', 'conference', 'competition', 'prize', 'mahommedan', 'cricket', 'correspondence', 'union', 'duty', 'mahmood', 'haji', 'shop', 'cricketers', 'football', 'girls', 'browne', 'syed', 'nainital', 'vines', 'la', 'late', 'education', 'mr']
The top 30 words for topic 14
['late', 'tournament', 'team', 'mr', 'education', 'shop', 'athletic', 'cricket', 'aligarh', 'oxford', 'sports', 'competition', 'taxation', 'letters', 'anglo', 'allahabad', 'ii', 'prize', 'oriental', 'position', 'duty', 'correspondence', 'educational', 'political', 'general', 'self', 'review', 'association', 'university', 'conference']
The top 30 words for topic 15
['tournament', 'football', 'conference', 'position', 'subscription', 'te', 'royal', 'ali', 'health', 'asiatic', 'bahadur', 'maulvi', 'essentials', 'condition', 'games', 'south', 'school', 'arabic', 'surplus', 'learning', 'lecture', 'shiraz', 'trip', 'list', 'plea', 'viceroy', 'society', 'notices', 'women', 'india']
The top 30 words for topic 16
['conference', 'lecture', 'education', 'educational', 'essentials', 'cricketers', 'games', 'late', 'la', 'india', 'football', 'haji', 'health', 'women', 'girls', 'general', 'letters', 'ii', 'aligarh', 'self', 'sports', 'allahabad', 'idling', 'prize', 'duty', 'cricket', 'mahommedan', 'shop', 'competition', 'correspondence']
The top 30 words for topic 17
['essentials', 'football', 'tournament', 'general', 'cricket', 'letter', 'duty', 'idling', 'bahadur', 'shiraz', 'parents', 'india', 'list', 'learning', 'mohammadan', 'south', 'women', 'subscription', 'arabic', 'society', 'letters', 'notices', 'games', 'ii', 'viceroy', 'lecture', 'plea', 'condition', 'asiatic', 'school']
The top 30 words for topic 18
['general', 'girls', 'educational', 'review', 'cricket', 'position', 'association', 'competition', 'correspondence', 'self', 'duty', 'university', 'oriental', 'shop', 'prize', 'oxford', 'parents', 'mahommedan', 'political', 'taxation', 'athletic', 'anglo', 'team', 'tournament', 'idling', 'letters', 'ii', 'aligarh', 'sports', 'allahabad']
The top 30 words for topic 19
['educational', 'general', 'cricket', 'essentials', 'football', 'tournament', 'shiraz', 'ii', 'trip', 'surplus', 'te', 'bahadur', 'school', 'plea', 'women', 'list', 'learning', 'games', 'maulvi', 'subscription', 'society', 'letters', 'lecture', 'mohammadan', 'notices', 'arabic', 'viceroy', 'asiatic', 'condition', 'south']

In [31]:
#rw=

In [46]:
#topic_res=LDA.transform(dtm)

In [47]:
#topic_res.shape

(4, 15)

In [48]:
#topic_res[2].argmax()

14

In [50]:
#df['topic']=topic_res.argmax(axis=1)

In [51]:
#df

In [52]:
#df.head()

In [53]:
#df.to_excel(r'C:\\Users\\Saurav\\Downloads\iimb1.xlsx', index = False)

In [119]:
df["Year"]=df["Year"].astype(str)
ra=df["Year"].str.startswith("184",na=False)
tmo=df[ra]

ra1=df["Year"].str.startswith("185",na=False)
tmo1=df[ra1]

ra2=df["Year"].str.startswith("186",na=False)
tmo2=df[ra2]

om =pd.concat([tmo,tmo1],axis=0)
om =pd.concat([tmo1,tmo2],axis=0)


#ra3=df["Year"].str.startswith("187",na=False)
  #tmo3=df[ra3]

#ra4=df["Year"].str.startswith("188",na=False)
#tmo4=df[ra4]

#ra5=df["Year"].str.startswith("189",na=False)
#tmo5=df[ra5]#

In [120]:
#om =pd.concat([tmo,tmo1],axis=0)
#om =pd.concat([tmo1,tmo2],axis=0)

In [113]:
pr=df[ra]

In [54]:
#pr

In [55]:
#pr['topic'].value_counts()

In [56]:
#om['topic'].value_counts()

In [122]:
df["Year"]=df["Year"].astype(str)
ra=df["Year"].str.startswith("187",na=False)
tmo=df[ra]

ra1=df["Year"].str.startswith("188",na=False)
tmo1=df[ra1]

ra2=df["Year"].str.startswith("189",na=False)
tmo2=df[ra2]

om1 =pd.concat([tmo,tmo1],axis=0)
om1 =pd.concat([tmo1,tmo2],axis=0)

In [123]:
df["Year"]=df["Year"].astype(str)
ra=df["Year"].str.startswith("190",na=False)
tmo=df[ra]

ra1=df["Year"].str.startswith("191",na=False)
tmo1=df[ra1]

ra2=df["Year"].str.startswith("192",na=False)
tmo2=df[ra2]

om2 =pd.concat([tmo,tmo1],axis=0)
om2 =pd.concat([tmo1,tmo2],axis=0)

In [124]:
df["Year"]=df["Year"].astype(str)
ra=df["Year"].str.startswith("193",na=False)
tmo=df[ra]

ra1=df["Year"].str.startswith("194",na=False)
tmo1=df[raj]

raj=df["Year"].str.startswith("195",na=False)
tmo2=df[raj]

om3 =pd.concat([tmo,tmo1],axis=0)
om3 =pd.concat([tmo1,tmo2],axis=0)

In [125]:
df["Year"]=df["Year"].astype(str)
ra=df["Year"].str.startswith("196",na=False)
tmo=df[ra]

ra1=df["Year"].str.startswith("197",na=False)
tmo1=df[ra1]

ra2=df["Year"].str.startswith("198",na=False)
tmo2=df[ra2]

om4 =pd.concat([tmo,tmo1],axis=0)
om4 =pd.concat([tmo1,tmo2],axis=0)

In [130]:
om1['topic'].value_counts()

14    2787
9     2344
8     2135
0     2082
4     1932
5     1899
1     1606
11    1601
3     1539
10    1529
6     1460
7     1459
13    1199
2     1094
12     748
Name: topic, dtype: int64

In [131]:
om2['topic'].value_counts()

14    9103
0     8333
11    8145
4     7631
6     7250
5     6702
2     6511
13    6425
1     6346
9     6342
7     6005
10    5540
8     5540
3     5386
12    3900
Name: topic, dtype: int64

In [132]:
om3['topic'].value_counts()

11    5771
13    5277
0     4973
5     4662
2     4411
4     4404
1     4242
12    4213
10    4042
6     4023
3     3934
14    3892
7     3736
8     3361
9     3300
Name: topic, dtype: int64

In [133]:
om4['topic'].value_counts()

5     2
9     2
13    1
1     1
Name: topic, dtype: int64

In [135]:
om['topic'].value_counts()

14    404
9     210
8     185
0     184
11    152
5     133
10    121
3     118
13    112
7     105
1     102
6     100
2      89
12     67
4      60
Name: topic, dtype: int64

In [91]:
graw=re.search(r'\w+ - \w+',text)

In [92]:
graw

In [3]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Saurav\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True